html {
    scroll-behavior: smooth;
    transition: all ease-in-out .25s;
}

body {
    margin: 0;
    padding: 0;
    color: hsl(228, 39%, 23%);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* background-color: gray; */
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: white;
}

p {
    color: hsla(228, 39%, 23%, 0.5);
}

.header {
    background-image: url("./images/bg-tablet-pattern.svg"), url("./images/bg-tablet-pattern.svg");
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: top right, bottom right;
    background-position-x: 180%, 580% ;
    background-position-y: -5%, 50%;
}

.navbar {
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .35s ease-in-out;
    scroll-behavior: smooth;
}

.nav-start-btn {
    display: none;
}

.sticky-nav {
    position: fixed;
    width: 88%;
    background-color: hsla(12, 100%, 96%, 0.8);
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    z-index: 2;
    transition: all .55s ease-in-out;
    box-shadow: 0 3px 10px hsla(228, 39%, 23%, 0.5);
}

.open {
    display: inline;
}


.close {
    display: none;
}

.nav-list {
    transition: all .35s ease-in-out;
    background-color: white;
    position: fixed;
    width: 77.5%;
    top: -100%;
    text-align: center;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.459);
    padding: 1rem;
}

.nav-list li {
    padding: 1rem;
}

.nav-list a {
    color: hsla(228, 39%, 23%);
    font-weight: bold;
}

.nav-list a:hover {
    color: hsla(228, 39%, 23%, 0.5);
    transition: all .25s ease-in-out;
}

.nav-btn {
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

.intro-img {
    width: 100%;
}

.intro-text {
    width: 90%;
    margin: auto;
    text-align: center;
    padding-bottom: 5rem;
}

.start-btn {
    background-color: hsl(12, 88%, 59%);
    color: white;
    border: none;
    padding: 1.2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 1.8rem;
    box-shadow: 0 6px 20px hsla(12, 88%, 59%, 0.637);
}

.start-btn:hover, .go:hover {
    background-color: hsl(12, 88%, 59%, 0.65);
    transition: all .25s ease-in-out;
}

.about-head {
    width: 85%;
    margin: auto;
    text-align: center;
}

.services {
    margin-top: 3rem;
    margin-left: .85rem;
}

.services h4{
    background-color: hsl(13, 100%, 96%);
    padding-top: .6rem;
    padding-bottom: .6rem;
    border-radius: 1.8rem 0 0 1.8rem;

}

.services span {
    background-color: hsl(12, 88%, 59%);
    color: white;
    padding: .65rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 1.8rem;
}

.services p {
    padding-right: 1rem;
}

.testimonial {
    margin-top: 4rem;
    text-align: center;
}

.review {
    margin-top: 5rem;
    padding-bottom: 0;
    width: 95%;
    margin: auto;
    box-sizing: border-box;
    min-height: 20rem;
}

.review-head {
    margin-bottom: 6rem;
}

.review-block {
    background-color: hsl(0, 0%, 98%);
    /* background-color: rgba(255, 0, 0, 0.568); */
    margin-bottom: 4rem;
    padding: 1rem;
    opacity: 1;
    animation: fade 1s linear;
}

@keyframes fade {
    0%, 100% {opacity: 0;}
    100% {opacity: 1;}
}

.avatar {
    width: 30%;
    position: relative;
    top: -3rem;
}

.review-text h4{
    margin-top: 0;
}

.closing {
    background-color: hsl(12, 88%, 59%);
    color: white;
    text-align: center;
    margin-top: 3rem;
    background-image: url("./images/bg-simplify-section-mobile.svg");
    background-repeat: no-repeat;
    background-position: left, center;
    background-size: 20%;
}

.closing-content {
    width: 85%;
    margin: auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.closing-content .start-btn  {
    background-color: white;
    color: hsl(12, 88%, 59%);
    font-weight: bold;
}

.footer {
    background-color: hsl(233, 12%, 13%);
}

.footer-content {
    width: 90%;
    margin: auto;
    padding-top: 3rem;
}

.input-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input {
    padding: 1rem;
    border-radius: 1rem;
    border: none;
    width: 62%;
}

.go {
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: hsl(12, 88%, 59%);
    color: white;
    border: none;
    border-radius: 1rem;
    font-weight: bold;
    width: 25%;
}

.f-links {
    display: flex;
    justify-content: space-around;
    margin-top: 2.5rem;
}

.f-links a:hover, .fab:hover {
    color: hsl(12, 88%, 59%);
}


.f-links li {
    padding-bottom: 1rem;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer-logo {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.copyright {
    padding-bottom: 2rem;
}

.copyright p{
    text-align: center;
    color: rgba(255, 255, 255, 0.774);
}

.dots-house {
    text-align: center;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    width: 25%;
    margin: auto;
    margin-bottom: 3rem
}

.dot {
    width: 12px;
    min-height: 12px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid hsl(12, 88%, 59%);
    transition: all 1s ease-in-out;
}

.bg {
    background-color: black;
}

@media (min-width:650px) {
    .sticky-nav {
        position: fixed;
        width: 95%;
        background-color: hsla(12, 100%, 96%, 0.8);
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
        z-index: 2;
        transition: all .55s ease-in-out;
        box-shadow: 0 3px 10px hsla(228, 39%, 23%, 0.5);
    }

    .nav-list {
        transition: all .35s ease-in-out;
        background-color: white;
        position: fixed;
        width: 80%;
        left: 8%;
    }

    .header {
        background-image: url("./images/bg-tablet-pattern.svg");
        background-repeat: no-repeat;
        background-size: 80%;
        background-position: top right, bottom right;
        background-position-x: 140%;
        background-position-y: -50%;
    }

    .intro {
        width: 65%;
        margin: auto;
    }

    .about-head {
        width: 65%;
    }

    .services {
        margin-left: 2rem;
    }

    .review {
        margin-top: 5rem;
        padding-bottom: 0;
        width: 60%;
        margin: auto;
        box-sizing: border-box;
        min-height: 20rem;
    }

    .dots-house {
        text-align: center;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: space-between;
        width: 15%;
        margin: auto;
        margin-bottom: 3rem
    }

    .closing {
        background-color: hsl(12, 88%, 59%);
        color: white;
        text-align: center;
        margin-top: 3rem;
        background-image: url("./images/bg-tablet-pattern.svg");
        background-repeat: no-repeat;
        background-position: top right;
        background-size: 50%;
        background-blend-mode: soft-light;
    }

    .closing-content {
        width: 85%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
    }

    .closing-content h1 {
        width: 60%;
    }

    .closing-content button{
        width: 30%;
    }

    .footer-content {
        width: 65%;
    }
}

@media (min-width:950px) {
    body {
        max-width: 1440px;
        margin: auto;
    }

    .navbar {
        width: 85%;
        margin: auto;
        align-items: center;;
    }

    .nav-list {
        transition: all .35s ease-in-out;
        background-color: transparent;
        position: static;
        width: 75%;
        top: -100%;
        text-align: center;
        box-shadow: 0 0 0 0 ;
        padding: 0rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav-btn {
        display: none;
    }

    .nav-start-btn {
        display: inline;
        margin-left: 10rem;
    }

    .sticky-nav {
        position: fixed;
        width: 97%;
        max-width: 1440px;
        background-color: hsla(12, 100%, 96%, 0.8);
        padding-top: 0rem;
        padding-bottom: 0rem;
        z-index: 2;
        transition: all .55s ease-in-out;
        box-shadow: 0 3px 10px hsla(228, 39%, 23%, 0.5);
    }

    .intro {
        width: 85%;
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .intro-text {
        text-align: left;
        width: 50%;
        margin-bottom: 0;
    }

    .major {
        display: flex;
        justify-content: space-between;
        width: 85%;
        margin-left: 7.5%;
    }

    .about-head {
        width: 45%;
        text-align: left;
        margin-top: 0;
        margin-bottom: 0;
    }

    .services {
        width: 55%;
        margin-top: 0;
    }

    .services h4{
        background-color: transparent;
    }

    .go {
        padding-left: 1rem;
        padding-right: 1rem;
        background-color: hsl(12, 88%, 59%);
        width: 23%;
    }

    .testimonial {
        width: 50%;
        margin: auto;
    }

    .footer-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        width: 85%;
    }

    .f-links {
        width: 40%;
        margin: 0;
        padding: 0;
        /* align-items: ; */
        justify-content: space-around;
        order: 2;
    }

    .input-box {
        order: 3;
    }

    .socials {
        margin: 0;
    }

    .footer-logo {
        margin: 0;
    }

    .copyright {
        margin: 0;
        padding: 0;
        order: 4;
        margin-left: 79%;
        padding-top: 0;
        padding-bottom: 0;
    }

    .img-block {
        width: 20%;
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
        min-height: 10rem;
    }

}
